# Configuration
VITE_WHATSAPP_NUMBER=
VITE_JAZZCASH_ACCOUNT=
VITE_EASYPAISA_ACCOUNT=
VITE_SADAPAY_ACCOUNT=
VITE_NAYAPAY_ACCOUNT=
VITE_BANK_ACCOUNT=
VITE_ACCOUNT_TITLE=NoVerify Services
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=noverify2026
